<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net461" />
  <package id="OpenCvSharp3-AnyCPU" version="4.0.0.20181129" targetFramework="net461" />
  <package id="Tobii.Research.x86" version="1.6.1.987" targetFramework="net461" />
</packages>